/* Your Website Styles */



body {
	color: #F2EFEF;
	background-color: #21262C;
}
p {
	width: 400px;
	font-size: 12px;
	line-height:18px;
}

h1	{
	font-family: 'Oxygen', 'sans-serif';
	color: #F2EFEF;
}
h2 {
	font-family: 'Lato', 'sans-serif';
	color: #F2EFEF;
}

img {
	width: 400px;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}
