/* Your Website Styles */



body {
	background color: #F8F8F8;
}

h1	{
	font-family: 'Oxygen', 'sans-serif';
	color: #1F1F1F;
}
h2 {
	font-family: 'Lato', 'sans-serif';
}

img {
	width: 400px;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}