/* Your Website Styles */



body {
	background color: #1F1F1F;
}

p {

}
img {
	width: 400px;
}
h1	{
	color: orange;
	text-shadow: 10px 10px 10px black;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}